html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+20,feffff+20,d2ebf9+100 */
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(
        top,
        #feffff 20%,
        #feffff 20%,
        #d2ebf9 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        #feffff 20%,
        #feffff 20%,
        #d2ebf9 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #feffff 20%,
        #feffff 20%,
        #d2ebf9 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
